.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  text-decoration: none;
  color: #fff;

  background-color: var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  height: 3rem;
}
